<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DataClevers Register - New Competence</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body class="container">
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <h3>Ajouter une Competence à votre profile</h3>
      </div>
    </nav>

    <br />

    <!-- Example Code -->

    <form class="row g-3" method="post" action="/education">
      <div class="col-md-4 form-floating">
        <input
          type="text"
          class="form-control"
          name="title"
          placeholder="Titre"
        />
        <label>Titre</label>
      </div>

      <div class="col-md-4 form-floating">
        <input
          type="text"
          class="form-control"
          name="domain"
          placeholder="Domaine"
        />
        <label>Domaine</label>
      </div>

      

      

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Ajouter à mon profil</button>
      </div>
    </form>

    <!-- End Example Code -->
    <script defer>
      var form = document.querySelector("form");
      form.action = window.location.pathname;


    </script>
  </body>
</html>
